.design-479 .design-element.design-element-6ccd5ffe {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 4em 0 2em;
}
.design-479
    .design-element.design-element-6ccd5ffe
    > .design-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.design-479 .design-element.design-element-30ee043c > .design-container {
    max-width: 500px;
}
.design-479
    .design-element.design-element-768c551b.design-column
    > .design-column-wrap
    > .design-widget-wrap {
    justify-content: space-evenly;
}
.design-479 .design-element.design-element-35526a .design-icon-wrapper {
    text-align: center;
}
.design-479 .design-element.design-element-35526a .design-icon {
    font-size: 28px;
}
.design-479 .design-element.design-element-35526a .design-icon i,
.design-479 .design-element.design-element-35526a .design-icon svg {
    transform: rotate(0deg);
}
.design-479 .design-element.design-element-35526a {
    width: initial;
    max-width: initial;
}
.design-479 .design-element.design-element-e55178 .design-icon-wrapper {
    text-align: center;
}
.design-479 .design-element.design-element-e55178 .design-icon {
    font-size: 28px;
}
.design-479 .design-element.design-element-e55178 .design-icon i,
.design-479 .design-element.design-element-e55178 .design-icon svg {
    transform: rotate(0deg);
}
.design-479 .design-element.design-element-e55178 {
    width: initial;
    max-width: initial;
}
.design-479 .design-element.design-element-312444eb .design-icon-wrapper {
    text-align: center;
}
.design-479 .design-element.design-element-312444eb .design-icon {
    font-size: 28px;
}
.design-479 .design-element.design-element-312444eb .design-icon i,
.design-479 .design-element.design-element-312444eb .design-icon svg {
    transform: rotate(0deg);
}
.design-479 .design-element.design-element-312444eb {
    width: initial;
    max-width: initial;
}
.design-479 .design-element.design-element-2089bfb8 .design-icon-wrapper {
    text-align: center;
}
.design-479 .design-element.design-element-2089bfb8 .design-icon {
    font-size: 28px;
}
.design-479 .design-element.design-element-2089bfb8 .design-icon i,
.design-479 .design-element.design-element-2089bfb8 .design-icon svg {
    transform: rotate(0deg);
}
.design-479 .design-element.design-element-2089bfb8 {
    width: initial;
    max-width: initial;
}
.design-479 .design-element.design-element-6ef87128 .design-text-editor {
    text-align: center;
}
